<div class='row'>
  <div class="col-md-2"></div>

  <div class="col-md-8">

  </div>

  <div class="col-md-2"></div>
</div>

<div class='row'>
  <div class="col-md-2"></div>

  <div class="col-md-8">
  <h1 class='title'>Ideas: 
    <%= link_to new_idea_path, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </h1>
    <% @ideas.each do |idea| %>
      <div class='jumbotron'>
        <%= link_to(image_tag(idea.picture.thumb), idea) %>
        <br>
        <br>

        <%= link_to edit_idea_path(idea), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>

        <%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        <br>
        <%= idea.caption %>
        <br>
        <%= pluralize(idea.comments.count, 'comment') if idea.comments.present? %>

      </div>
      <br>
    <% end %>
  </div>

  <div class="col-md-2"></div>
</div>
