<style type="text/css">
  body {
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="col-md-4"></div>

<div class="col-md-4 login">
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <form class="form-horizontal" role="form">

      <div class="form-group">
        <div class="col-sm-10">
          <%= f.text_field :username, placeholder: 'Username', class: 'form-control', autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class='col-sm-10'>
          <div class='checkbox'>
            <%= f.check_box :remember_me %> 
            <%= f.label :remember_me, %>
          </div>
        </div><br>
      <% end -%>

      <div class="form-group">
        <div class="col-sm-10">
          <%= f.submit "Sign in", class: 'btn btn-primary btn-block' %>
        </div>
      </div>


    </form>
  <% end %>

</div>

<div class="col-md-4"></div>
